html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.kc-logo-text {
    background-image: url('../img/prism-logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 80px;
    width: 100%;
    max-width: 800px;
    background-color: white;
    margin-bottom: 0;
    margin-top: -20%;
}

#kc-header-wrapper {
    padding: 0;
    margin: 0 !important;
}

.login-pf-page {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    /* horizontal centering */
    border-radius: 10px;
    background-color: white;
    box-sizing: border-box;
    padding: 20px;
    /* internal spacing */
}

h1#kc-page-title {
    margin-top: 0;
    font-weight: bold;
    font-size: 29px;
    padding-right: auto;
}

.login-pf-page .login-pf-page-header {
    margin-bottom: 0;
}

.card-pf {
    margin: 0 auto;
    box-shadow: none;
    padding: 0 0px;
    max-width: 500px;
    border-top: 0px;
}

#kc-info-wrapper {
    font-size: 13px;
    padding: 10px;
    background-color: white;
}

/* Override global primary color 100 and 200*/
:root {
    --pf-global--primary-color--100: var(--pf-global--palette--blue-300);
    --pf-global--primary-color--200: var(--pf-global--palette--blue-400);
}

.pf-c-form-control {
    border-radius: 0.5rem;

    border: 0.5px solid #007BFF;

    padding: 1rem 1rem;

    font-size: 12px;

    outline: none;
    box-shadow: none;

    transition: none;

}

/* Hover effect */
.pf-c-form-control:hover {
    border-color: #007BFF;
    box-shadow: none;

}

/* Focus effect */
.pf-c-form-control:focus {
    border-color: #0bc24e;
    transition: none;
    --pf-c-form-control--BorderBottomColor: #0bc24e;
    padding: 1rem;
    border-bottom-width: 0.5px;
}

.pf-c-button.pf-m-primary {
    border-radius: 0.5rem;
}

#kc-content {
    width: 70%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

/* Container for password input and toggle */
.password-input {
    position: relative;
    width: 100%;
}

/* Password toggle button */
.password-input .pf-c-button {
    position: absolute;
    top: 45%;
    right: 5px;
    transform: translateY(-50%);
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    font-size: 18px;
    color: #201f1f;
    padding: 0%;
    transition: color 0.3s ease;
}

.password-input .pf-c-button:hover {
    color: #000000;
}

.password-input .pf-c-button:focus {
    outline: none;
}

.password-input .pf-c-button i {
    vertical-align: middle;
}