.autocomplete-search-bar {
    width: 100%;
}

.autocomplete-search-bar-title {
    width: 100%;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    color: white;
    padding-bottom: 5px;
}

.search-bar {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    outline: none;
    color: white;
}

.suggestion-container {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 2px 2px 10px 10px;
}

.suggestion {
    padding: 5px;
    text-align: left;
    color: white;
}

.suggestion:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    cursor: pointer;
}

.author-institution-search-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.author-institution-search-bar-container {
    width: 40%;
}

.author-institution-search-button-container {
    width: 10%;
    padding-top: 36px;
}

.author-institution-search-button {
    width: 100%;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #004aa1;
    background-color: rgba(0, 74, 161, 0.3);
    color: white;
}

.author-institution-search-button:hover {
    background-color: rgba(0, 74, 161, 0.5);
    transition: background-color 0.3s ease;
}

