.result-item {
  width: 40%;
  /* Matches the width of author search bar container */
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(245, 240, 240);
  color: black;
  border-radius: 8px;
  padding: 20px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.result-item:hover {
  color: black;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.result-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 30px;
  margin-left: 1.3%;
}

.show-more-results-button {
  width: 20%;
  margin-left: 46%;
  margin-top: 20px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}