@import '../base/varialbes';
@import '../base/typography';

$sidebar-width: 70%;
$sidebar-padding: 20px;
$sidebar-border-color: #060606;
$sidebar-icon-size: 24px;
$sidebar-transition: right 0.3s ease;
$sidebar-box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);

// Additional Colors
$color-grey-100: rgb(245, 240, 240);
$color-grey-500: rgb(100, 100, 100);
$color-grey-900: rgb(40, 40, 40);

// Z-index
$z-index-sidebar-header: 1000;

//side panel from right side
.flag-panel {
  position: fixed;
  right: -$sidebar-width;
  top: 0;
  width: $sidebar-width;
  height: 100vh;
  background: $color-text-100;
  box-shadow: $sidebar-box-shadow;
  transition: $sidebar-transition;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  text-align: left;

  &.open {
    right: 0;
  }
  &.close {
    right: -$sidebar-width;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    padding: $sidebar-padding;
    align-items: center;
    width: 100%;
    margin: 10px 0;
  }

  &-title {
    @include heading-6;
    margin: 0;
  }

  &-close-button {
    background: none;
    border: none;
    font-size: $font-size-20;
    padding: 0;
    transition: transform 0.3s ease;
    cursor: pointer;

    &:hover {
      background: none;
      transform: scale(1.2);
    }
  }
}

.divider {
  height: 1px;
  background-color: $color-grey-500;
}

.selection-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
  width: 100%;
  justify-content: space-between;

  .score-box-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
    flex: 1;

    .score-pill {
      background-color: $color-text-100;
      border-radius: 0 20px 20px 0;
      padding: 8px 16px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
      @include sub-heading-4;
      .score-label {
        color: $color-error-700;
        margin-right: 7px;
      }

      .score-value {
        color: $color-error-700;
      }
    }
  }

  .tab-group {
    display: flex;
    padding-left: 15px;

    .tab-button {
      padding: 8px 24px;
      border-radius: 7px;
      background-color: #f3f4f6; // gray-100 equivalent
      font-size: 14px;
      transition: all 0.2s ease;
      border-color: transparent;
      margin-left: 12px;

      &.active {
        background-color: white;
        border: 1px solid $color-primary-700;
        color: $color-primary-900; // blue-500 equivalent
        @include sub-heading-5;
      }

      &:hover:not(.active) {
        background-color: #e5e7eb; // gray-200 equivalent
      }
    }
  }
}
.sort-by-container {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 20px;

  .sort-label {
    @include sub-heading-4;
  }

  .sort-icon {
    cursor: pointer;
    display: flex;
    align-items: center;

    svg {
      color: $color-text-900;
    }
  }
}
