@import '../base/varialbes';
@import '../base/typography';

.flag-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin: 20px auto;

  &-box {
    border: 1px solid rgb(230, 230, 230);
    padding: 12px 16px;
    border-radius: 10px;
  }

  &-badge {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-text-100;
    padding: 4px 12px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;

    &.disclosed {
      border: 1.2px solid $color-primary-700;
    }

    &.undisclosed {
      border: 1px solid $color-error-700;
    }

    &-text {
      @include sub-heading-6;
      margin: 0;
    }

    &-check-circle {
      background-color: $color-text-100;
      display: flex;

      svg {
        color: $color-primary-700;
      }
    }
  }
}
