@import '../base/varialbes';
@import '../base/typography';

$sidebar-width: 320px;
$sidebar-padding: 20px;
$sidebar-border-color: #e0e0e0;
$sidebar-icon-size: 24px;
$sidebar-transition: left 0.3s ease;
$sidebar-box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

// Additional Colors
$color-grey-100: rgb(245, 240, 240);
$color-grey-500: rgb(100, 100, 100);
$color-grey-900: rgb(40, 40, 40);

// Z-index
$z-index-sidebar-header: 1000;

.side-panel {
  position: fixed;
  left: -$sidebar-width;
  top: 0;
  width: $sidebar-width;
  height: 100vh;
  background: $color-text-100;
  box-shadow: $sidebar-box-shadow;
  transition: $sidebar-transition;
  padding: $sidebar-padding;
  display: flex;
  flex-direction: column;

  &.open {
    left: 0;
  }

  &-header {
    position: sticky;
    top: 0;
    background: $color-text-100;
    z-index: $z-index-sidebar-header;
    display: flex;
    align-items: left;
    padding-top: 10px;
    padding-bottom: 20px;

    &__logo {
      width: 120px;
      margin-left: 2%;
      user-select: none;
    }
  }
}

.panel-content {
  flex: 1;
  overflow-y: auto;
}

.navigation {
  ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    overflow: hidden;
  }
}

.nav-list {
  list-style: none;
  padding: 0;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 8px 0px;
  margin-bottom: 10px;
  cursor: pointer;
  background: $color-text-100;
  color: $color-text-700;
  border: none;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;

  &:hover {
    transform: scale(1.03);
  }
}

.nav-icon {
  width: $sidebar-icon-size;
  display: flex;
  justify-content: center;
  margin-right: 12px;
  margin-left: 5px;
}

.nav-text {
  @include sub-heading-4;
}

.nav-arrow {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.reports {
  margin-top: 20px;
  margin-left: 1%;
  color: $color-grey-500;
}

.report-header {
  display: flex;
  align-items: center;
  padding: 8px 0;
  @include sub-heading-4;
}

.report-item {
  padding-inline: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 4%;
  cursor: pointer;
  border-radius: 0.5rem;
  padding-block: 5px;
  color: $color-grey-500;
  @include paragraph-5;

  &:hover {
    background: $color-primary-100;
    color: $color-grey-900;
  }
}

.status {
  padding: 3px 8px;
  border-radius: 12px;
  @include label-6;
}

.collapsible {
  &-header {
    background-color: $color-text-100;
    padding: 10px;
    @include sub-heading-4;
  }

  &-subheader {
    display: flex;
    align-items: center;
    @include paragraph-5;
  }

  &-content {
    padding: 10px;
  }

  &-icon {
    cursor: pointer;
    padding: 2px;
    user-select: none;

    &-text {
      margin-left: 10px;
      padding-right: 10px;
    }

    &:hover {
      background-color: $color-primary-100;
      border-radius: 0.5rem;
      color: $color-grey-900;
    }
  }
}

.user-card {
  display: flex;
  flex-direction: column;
  background-color: $color-primary-100;
  border-radius: 12px;
  padding: 15px;
  width: 100%;
  max-width: 400px;

  &__profile {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 5px;
  }

  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__name {
    @include sub-heading-3;
    color: $color-text-900;
    text-align: left;
    margin: 0;
  }

  &__email {
    @include paragraph-5;
    color: $color-text-700;
    text-align: left;
    margin-top: 2px;
  }

  &__divider {
    width: 100%;
    border: none;
    border-top: 1px solid;
    margin: 8px 0;
  }

  &__logout-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
  }

  &__logout-text {
    @include paragraph-4;
    color: $color-text-500;
  }

  &__logout-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;

    &:hover {
      background-color: transparent;
    }

    &-icon {
      color: $color-primary-700;
    }
  }
}